<section class="admin">
	<h2><%= name %></h2>

	<a href="/addProd" class="addProd"><i class="fa fa-cogs"></i>Ajouter un produit</a>

	<table>
	<thead>
			<th>Name</th>
      <th>Description</th>
      <th>Price</th>
	</thead>
	<tbody>
	<% if (produits.length > 0) { %>
		<% for(let i = 0; i < produits.length; i++) { %>
			<tr>
				<td>
					<a class="back" href="/produits/<%=produits[i]._Id%>"><%=produits[i].name%></a>
				</td>
				<td><%=produits[i].description.substring(0, 30)%> ...</td>
				<td><%=produits[i].price%></td>
				<td>
                    <a class="edit" href="/editProd/<%=produits[i]._id%>"><i class="fa fa-pencil"></i></a>
                    <a class="remove" href="/deleteProd/<%=produits[i]._id%>"><i class="fa fa-remove"></i></a>
                </td>
			</tr>
		<% } %>
	<% } else {%>
		<tr>
			<td>Aucun produit à afficher</td>
		</tr>
	<% } %>
	</tbody>
</table>
</section>